<h1>Editar Tarea</h1>

<mat-dialog-content>
    <form #form="ngForm" (submit)="onFormSubmit(form)">
        <input type="text" class="input form-control" placeholder="Type todo here ..." [(ngModel)]="todo.text" name="text">
        <div class="mt-3 d-flex justify-content-end">
            <button class="btn btn-sm btn-enviar mr-2" type="submit">Guardar</button>
            <button class="btn btn-sm btn-danger" type="button" (click) ="cancel()">Cancelar</button>
        </div>
    </form>
</mat-dialog-content>