.todo-item{
    font-size: 16px;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #f2f3f5;
}
.todo-item:hover .check-box{
    opacity: 0.5;
    background: #eee;
}

.check-box{
    border: 1px solid #eee;
    border-radius: 8px;
    font-size: 22px;
    opacity: 0;
}

.btn-task-historic{
    background: #00cca3;
    box-shadow:  0px 1px 6px grey;
}
.btn-task-historic:focus{
    background: #10a88a;
}

.btn-status{
    background: linear-gradient(to right, #e66465, #9198e5);
}

.btn-edit:hover{
    background: rgba(211, 207, 207, 0.932);
}
.btn-delete:hover{
    background: rgba(211, 207, 207, 0.932);
}