<div class="container mt-5">
    <div class="">
        <button (click)="changeMode(false)" class="btn btn-task-historic  mr-1 {{ historicMode ? '' : 'active' }}">Todas las tareas</button>
        <button (click)="changeMode(true)" class="btn btn-task-historic  {{ historicMode ? 'active' : '' }}">Histórico</button>
    </div>
    
    <div class="todo-list">
        <div class="todo-item d-flex justify-content-between py-4" *ngFor="let item of list">
            <div class="todo-text mt-1 ml-3">
                {{ item.text }}
            </div>
            <div class="btn-group btn-group-toggle btn-status rounded" data-toggle="buttons"  >
                <label class="btn btn-sm {{ item.statusId === 1 ? ' active' : 'btn-light' }}">
                    <input type="radio" name="options" id="option1" [value]="1" [(ngModel)]="item.statusId" (click)="updateStatusToDo(item)"> Pendiente
                </label>
                <label class="btn btn-sm {{ item.statusId === 2 ? 'active ' : 'btn-light' }}">
                    <input type="radio" name="options" id="option2" [value]="2" [(ngModel)]="item.statusId" (click)="updateStatusToDo(item)"> En Proceso
                </label>
                <label class="btn btn-sm {{ item.statusId === 3 ? 'active' : 'btn-light' }}">
                    <input type="radio" name="options" id="option3" [value]="3" [(ngModel)]="item.statusId" (click)="updateStatusToDo(item)"> Resuelto
                </label>
            </div>
            <div>
                <button class="btn btn-sm btn-edit mr-3" (click)="editTodo(item)"><mat-icon>edit</mat-icon></button>
                <button class="btn btn-sm btn-delete" (click)="deleteToDo(item.id)"><mat-icon>delete</mat-icon></button>
            </div>
            
        </div>
    </div>
</div>